*{
   margin:10px;
}
body{
    margin-top: 0;
}


.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px black;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.navbar li{
    list-style: none;
}

.logincart{
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 50px;
}
.hero{
    background: linear-gradient(105deg,#f7f7f7,pink);
    height:500px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.hero_left{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    gap: 20px;
}
.hero_right{
    display: flex;
    justify-content: center;
    width:500px;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px black;
}
